.home{
    color: black;
    overflow:hidden ;
    margin:0%;
    padding:0%;
}
.M{
    background-color:lightgray;
    width :100vw;
    height:100vh;
    border:none;
    text-align:  center;
    font-size: 75px;
    margin: 0;
    padding:0;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}